<nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <div class="col-md-8 ml-md-auto" style="padding-left: 10%">
    <ul class="navbar-nav mr-auto">
      <div *ngFor="let info of pageInfo; let i=index">
        <li class="nav-item active" >
          <a routerLink="{{info.path}}" routerLinkActive="active" class="navbar-brand a" (click)="getIndex(i)">
            <img class="img" width="35" height="35" src="{{info.img}}"
            alt="">
            <span style="display:inline-block; width: 5px;"></span>
            {{info.name}}
          </a>
        </li>
      </div>
    </ul>
  </div>

  <div lass="col-auto">
    <button class="btn btn-danger">
        <a href="http://pad2.whstatic.com/images/c/c8/User-Completed-Image-Hold-a-Snake-2016.02.22-01.00.38.0.jpg">Snake
        </a>
    </button>
  </div>

</nav>