nav{
    position: sticky;
    z-index: 10;
    box-shadow: 1px 1px 5px #888888;
}

.a{
    color:#ffffff !important;
    padding:5px 7px;    
}

.img-div{
    padding-right: 5px;
}

.img{
    border-radius: 500px;
}

.pad-left{
    padding-left: 35vw;
}

.snake-button{
    background-color: greenyellow;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; 
}

.snake-button-backdrop{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; 
}